/* //Steps
    if (isEditing === title.id) {
      const wrapper = document.createElement("div");
      wrapper.classList.add("wrapper");

      const editingInput = document.createElement("input");
      editingInput.classList.add("edit-card-input");
      editingInput.placeholder = "Edit title...";

      const saveBtn = document.createElement("button");
      saveBtn.classList.add("save-btn");
      saveBtn.textContent = "Save";

      const cancelBtn = document.createElement("button");
      cancelBtn.classList.add("cancel-btn");
      cancelBtn.textContent = "Cancel";

      const btnGroup = document.createElement("div");
      btnGroup.classList.add("btn-group");

      btnGroup.appendChild(saveBtn);
      btnGroup.appendChild(cancelBtn);

      wrapper.appendChild(editingInput);
      wrapper.appendChild(btnGroup);

      cardContainer.appendChild(wrapper);

      saveBtn.onclick = () => {
        try {
          const newTitle = {
            title: editingInput.value,
          };

          cardTitles = EditSideBarCard(cardTitles, title.id, newTitle);

          renderCardDetails();
          api.setTitles();
          isEditing = null;
        } catch (err) {
          console.err("Title not edited successfully");
        } finally {
          renderCardDetails();
        }
      };

      cancelBtn.onclick = () => {
        isEditing = null;
        renderCardDetails();
      };
    } else {
      // Normal display mode
      const span = document.createElement("span");
      span.textContent = title.title;

      const editBtn = document.createElement("button");
      editBtn.textContent = "✏️";

      editBtn.onclick = () => {
        editingId = title.id;
        renderCardDetails();
      };

      li.appendChild(span);
      li.appendChild(editBtn);
    } */

/* //Allow dragging of cards and set the dragged card id to the current card's id
    li.onmousedown = () => {
      draggedCardId = title.id;
      li.classList.add("dragging");
      console.log("drag start");
    };

    //When mouse is released, reset the dragged card id and remove dragging class
    li.onmouseup = () => {
      draggedCardId = null;
      li.classList.remove("dragging");
      console.log("drag end");
    }; */

/* //Drag and drop feature for cardContainer and columnContainer

cardContainer.addEventListener("dragover", (e) => {
  e.preventDefault();
}); */

/* //You already handled it correctly with .forEach. */
/* columnContainer.addEventListener("dragover", (e) => {
  e.preventDefault();
}); */
#filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  color: #fffaf0;
  cursor: pointer;
}

.parent .box1 .box1-subcontainer .box1-subSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* //Edit card domain function but i dont need it anymore
function editSideBarCard(currentCard, id, updatedField) {
  //verifying source of truth proxy
  verifyArray(currentCard);

  //Throw error check for id
  if (!id) throw new EditWithoutIdError();

  //Throw error check for missing field
  if (!updatedField || updatedField.title.trim() === "")
    throw new Error("No updated data provided");

  return currentCard.map((cardTitle) =>
    cardTitle.id === id ? { ...cardTitle, ...updatedField } : cardTitle,
  );
} */

/* //Define the custom error for editNote function
class EditWithoutIdError extends Error {
  constructor() {
    super("Tried to edit with no note selected");
  }
} */

/* //handling click outside function here
function globalClickOutside(event) {
  //Handling filter section click on and outside the icon
  //If the closest thing we have to the target element has the id: filter-section then do nothing
  if (event.target.closest("#filter-section")) {
    return;
  }
  //Otherwise hide the filter section popover
  filterSection.classList.add("hide");

  //Handling chevron section when clicked in and outside it
  if (event.target.closest("#chevron-section")) {
    return;
  }
  //Otherwise hide the chevron section popover
  chevronSection.classList.add("hide");
}
 */
